  <ul>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="/view">View & Cancel</a></li>
  <li><a routerLink="/cancel">Calendar</a></li>
  <li style="float:right"><a class="active" routerLink="/logout">Logout</a></li>
</ul>

<!-- <mat-card>
  UserName:
    <mat-form-field class="example-full-width">

        <mat-label> Name..</mat-label>

        <input matInput  [(ngModel)]=name>

      </mat-form-field>
      <br>
      <br>
      Password:
      <mat-form-field class="example-full-width">

          <mat-label> Name..</mat-label>

          <input  type="password" matInput  [(ngModel)]=name>

        </mat-form-field>
        <br>
        <br>
        <button mat-raised-button color="primary">Primary</button>


</mat-card> -->
<router-outlet></router-outlet>
