<p>All Bookings</p>
<div id = "makeGird">
<div  *ngFor="let item of arrayOne()">
<mat-divider></mat-divider>
<mat-card>
<mat-card-title>
{{value[item]["Name"]}}
</mat-card-title>
<mat-card-subtitle>{{value[item]["Meeting"]}}</mat-card-subtitle>
<mat-card-content >The conference room is booked for : Tower {{value[item]["Tower"]}}, {{value[item]["Floor"]}}, {{value[item]["Wing"]}} Wing, {{value[item]["DateView"]}}, Time-{{value[item]["Time.hour"]}}:{{value[item]["Time.min"]}}</mat-card-content>
<mat-card-actions>
    <button  class="button" (click)="Deletedoc(value[item]['UID'])" >Cancel</button>
  </mat-card-actions>
</mat-card>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
</div>
</div>

<!-- <div >
        <mat-divider ></mat-divider>
        <mat-card >
        <mat-card-title>
        {{value[1]["Name"]}}
        </mat-card-title>
        <mat-card-subtitle>{{value[1]["Meeting"]}}</mat-card-subtitle>
        <mat-card-content>The conference room is booked:{{value[1]["Tower"]}},{{value[1]["Floor"]}},{{value[1]["Wing"]}},{{value[1]["Date"]}}</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
</div>


<div >
    <mat-divider></mat-divider>
    <mat-card>
        <mat-card-title>
            {{value[2]["Name"]}}
        </mat-card-title>
        <mat-card-subtitle>{{value[2]["Meeting"]}}</mat-card-subtitle>
        <mat-card-content>The conference room is booked:{{value[2]["Tower"]}},{{value[2]["Floor"]}},{{value[2]["Wing"]}},{{value[2]["Date"]}}</mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
</div> -->
